body {
    font-family: "Montserrat", sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #050e39;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #f2f2f2;
}
.home_image{
    background-image: url("Images/home_image.jpg"); 
    background-repeat: no-repeat;
    background-size: 1300px 650px;
    background-attachment: fixed;

  }

header {
    background-color: #0b0c0c;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0b0c0c;
    overflow: hidden;
    z-index: 1000; /* Ensures it stays above other content */
}

nav a {

    float: left;
    display: block;
    color: #fff;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover,nav a.selected {
    background-color: #313131;
}

.slideshow-container {
    position: relative;
    max-width: 750px;
    margin: auto;
    overflow: hidden;
    
}
.mySlides {
    display: none;
    
}
.mySlides img {
    width: 750px;
    height: auto;
    border-radius: 5%;

}


.About {
    padding: 20px;
    color: #f2f2f2;
}

.About::after {
    content: "";
    display: table;
    clear: both;
}

.About img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5%;
    width: 428px;
    height: 600px;
}
footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #0b0c0c;
    color: #ffff;
    text-align: center;
}

.icon {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile {
    text-align: center;
    margin-top: 50px;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: scale-down;
}

.intro-text {
    font-size: 50px;
    margin-top: 10px; /* Adjusted margin-top */
    margin-bottom: 20px; /* Added margin-bottom */  
    font-weight: bolder;
}
.small_about{
    font-size: 14px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #676f7b;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #545467;
}