body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #244855;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #90aead;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;


}

nav a:hover,nav a.selected {
    background-color: #b2e4e2;
}

.slideshow-container {
    position: relative;
    max-width: 750px;
    margin: auto;
}
.mySlides {
    display: none;
}
.mySlides img {
    width: 750px;
    height: auto;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.About {
    padding: 20px;
}

.About::after {
    content: "";
    display: table;
    clear: both;
}

.About img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5%;
    width: 428px;
    height: 600px;
}

footer {
    background-color: #4a5958;
    color: #ffff;
    text-align:left;
}

footer a {
    color: rgb(124, 196, 220); 
}

.icon {
    width: 20px;
    height: 20px;
    border-radius: 10%;
}
