body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #90aead;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #244855;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}

nav a:hover,nav a.selected {
    background-color: #b3d8d7;
}

.slideshow-container {
    max-width: 750px;
    position: relative;
    margin: auto;
    border-radius: 5%;
    float: left;
}

.mySlides {
    float: left;
    border-radius: 5%;
    display: none;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.About {
    padding: 20px;
}

.About::after {
    content: "";
    display: table;
    clear: both;
}

.About img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5%;
    width: 428px;
    height: 600px;
}

footer {
    background-color: #4a5958;
    color: #ffff;
    text-align:left;
    padding: 5px;
    width: 100%;
}

footer a {
    color: lime; 
}
